<div id="<%= dom_id filme %>">
  <div>
    <strong>Titulo:</strong>
    <%= filme.titulo %>
  </div>

  <div>
    <strong>Sinopse:</strong>
    <%= filme.sinopse %>
  </div>

  <div>
    <strong>Ano:</strong>
    <%= filme.ano %>
  </div>

  <div>
    <strong>Duracao:</strong>
    <%= filme.duracao %>
  </div>

  <div>
    <strong>Diretor:</strong>
    <%= filme.diretor %>
  </div>

  <div>
    <strong>User:</strong>
    <%= filme.user_id %>
  </div>

</div>
